<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet">

<div class="ccard">
    <div class="content">
        <div class="flax">
            <img src="{{avatar}}" alt="avatar" class="aavatar">
            <div class="text">
                <h2>{{tag}}</h2>
                <div>
                    <h4>Статус: {{memberStatus}}</h4>
                </div>
            </div>
        </div>
        <div class="gg whut">
            <div class="her">
                <h4>Уровень: {{memberLevel}}</h4>
                <h4>Сообщений: {{memberTotalMessages}}</h4>
            </div>
            <div class="her">
                <h4>EXP: {{memberTotalExp}}</h4>
                <h4>Бутылок Вина: 0</h4>
            </div>
        </div>
    </div>
</div>
<style>
    * {
        margin: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
    }
    .her h4 {
        margin-top: 10px;
    }
    .flax {
        display: flex;
    }
    .gg {
        margin-left: 120px;
        color: white;
        width: 400px;
    }
    .ccard {
        background-image: url({{background}});
        background-size: 100%;
        background-position: right;
        width: 756px;
        height: 250px;
        padding: 15px;
        border-radius: 10px;
    }
    .content {
        background: rgba(20, 20, 20, 0.5);
        backdrop-filter: blur(3px);
        border-radius: 15px;
        padding: 15px;
        margin-right: 30px;
        margin-top: 25px;
    }
    .aavatar {
        border: 3px solid #eeeeee;
        border-radius: 50%;
        max-width: 100px;
        max-height: 100px;
        box-shadow: 0 0 .5rem #F2F3F5;
    }
    .text {
        margin-top: 20px;
        margin-left: 10px;
        color: #f1f6f9;
    }
    .whut {
        display: flex;
        justify-content: space-between;
    }
    body{
        width: 756px;
        height: 270px;
        margin: 0;
    }
</style>